/* Definição de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos de corpo */
body {
  background-color: #fce9e9;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

/* Estilos de cabeçalho */
h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ff6699;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cccccc;
}

/* Estilos de tabela */
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

table td, table th {
  padding: 1rem;
  text-align: center;
}

table td {
  font-weight: 700;
}

table caption {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #ff6699;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cccccc;
}

/* Estilos de célula */
td {
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

td:hover {
  background-color: #ffccff;
}

td h3 {
  color: #ff6699;
  font-size: 1.25rem;
}

td p {
  color: #333333;
  font-size: 1rem;
}

/* Estilos de rodapé */
footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #666666;
}

footer a {
  color: #333333;
}
